@tailwind base;
@tailwind components;
@tailwind utilities;

#answer {
    animation: appear 500ms ease-in-out;
    transform-origin: top;
}

@keyframes appear {
    from {
        transform: translateY(-2rem);
    }
    to {
        transform: translateY(0);
    }
}